<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <div class="content">
      <p>This site was created by Max Powell. It uses data from mapbox.com and darksky.net.</p>
      <img src="/img/robot.png" alt="Robot" class="portrait">
    </div>
    {{>footer}}
  </body>
</html>
